body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('Imagen_fabricacion_alfajores.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background: linear-gradient(to right, #d2691e, #ff7f50);
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
}

/* Asegurarse de que las imágenes tengan las mismas dimensiones */
.card-img-top {
    width: 100%;
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Mantiene la proporción sin deformar */
}

.card img {
    width: 100%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.grid-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.btn-primary {
    background-color: #d2691e;
    border-color: #d2691e;
}

.btn-primary:hover {
    background-color: #ff7f50;
    border-color: #ff7f50;
}

.btn-outline-light {
    background-color: #fff;
    color: #000;
}

.btn-outline-light:hover {
    background-color: #d2691e;
    color: #fff;
}

#ver-carrito {
    margin-left: 1rem;
}

#vaciar-carrito {
    background-color: #f44336;
    color: white;
}
